@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader {
  border-width: 4px;
  border-top-color: transparent;
  border-right-color: inherit;
  border-bottom-color: inherit;
  border-left-color: inherit;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ai-button {
  background-image: linear-gradient(to right, #3c1053 0%, #3c105340 50%, #3c1053 100%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position .5s ease;
}
.ai-button:hover {
  background-position: 0%;
}

/* Add this to your styles.css */
.gradient-shift {
  @apply bg-gradient-to-l from-[#3c1053] to-transparent;
  background-size: 200% 100%;
  transition: background-position 0.5s ease;
}
.gradient-shift:hover {
  background-position: 50% 0;
}